doctype html
head
  script(src='https://aframe.io/releases/0.8.0/aframe.min.js')
  script(src='https://cdn.rawgit.com/jeromeetienne/AR.js/1.6.0/aframe/build/aframe-ar.js')
  script(src='/socket.io/socket.io.js')
  script(src='/js/app/global.js')
  script.
    //Init gameData from render
    gD = !{gD}
a-scene(embedded='' arjs='sourceType: webcam; debugUIEnabled: false;')
  a-marker#markerEl(type='area' preset='hiro')
  a-entity#camera(camera='')
#ui-game-info.ui-info
  #ui-info-images
  p#ui-info-text.ui-info-text
    | Welcome #{gD.plName}! use arrow buttons to move selector.
.controls-arrow(style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;')
  div(style='padding-left:7%')
    img#ui-arrow-up.arrow-img(move='-10' src='/images/c-arrow.png' alt='' style='transform: rotate(-90deg);')
  div
    img#ui-arrow-left.arrow-img(move='1' style='transform: rotate(-180deg);' src='/images/c-arrow.png' alt='')
    img#ui-arrow-right.arrow-img(move='-1' style='padding-left:3%;' src='/images/c-arrow.png' alt='')
  div(style='padding-left:7%')
    img#ui-arrow-down.arrow-img(move='10' src='/images/c-arrow.png' alt='' style='transform: rotate(-270deg);')
    img#ui-btn-action.btn-action(src='/images/btn-action.png' alt='')
#ui-battle-info.ui-battle-info(hidden)
  span#ui-battle-o-img.ui-battle-img
  span#ui-battle-vs-text.ui-battle-vs-text
    | VS
  span#ui-battle-t-img.ui-battle-img
  div#ui-battle-res-txt.ui-battle-res-txt
#ui-info-down-text.ui-info-down-text
style.
  .ui-info{
  position: fixed;
  z-index: 1;
  bottom: 100px;
  color: #ffff;
  left: 30%;
  top: 1%;
  font-size: 100%;
  font-weight: bold;
  width: 50%;
  max-width: 48%;
  max-height: 20%;
  overflow: hidden;
  display: flex;
  border: 2px solid #006bff;
  background-color: #040a1299;
  border-radius: 10px;
  }
  .ui-battle-info{
    position: fixed;
    z-index: 2;
    color: white;
    overflow: hidden;
    background-color: #fd09094f;
    border: 2px solid #dcb175;
    border-radius: 32px;
    top: 36%;
    left: 33%;
    width: 38%;
    text-align: center;
    display: none;
  }
  .ui-battle-img{
    width: 30%;
  }
  .ui-battle-vs-text{
    font-size:23px;
  }
  .ui-battle-res-txt{
    font-size:173%;
  }
  .ui-info-down-text{
  position: fixed;
  z-index: 1;
  bottom: 100px;
  color: #ffff;
  bottom: 1%;
  left: 30%;
  font-size: 100%;
  width: 50%;
  max-width: 48%;
  overflow: hidden;
  display: flex;
  border: 2px solid #c2842b;;
  background-color: #040a1299;
  border-radius: 10px;
  max-height: 20%;
  }
  .ui-info img{
  height: 100%;
  max-height: 72px;
  border: solid 3px #ffce00;
  border-radius: 12px;
  display: none;
  }
  .ui-info-text{
  padding-left: 5px;
  }
  .a-enter-vr{
  display: none;
  }
  .controls-arrow{
  position: fixed;
  z-index: 1;
  bottom: 100px;
  opacity: 0.5;
  }
  .arrow-img{
  width: 10%;
  height: 10%;
  }
  .btn-action{
  padding-right: 1%;
  position: fixed;
  right: 1px;
  width: 8%;
  }
script(src='/js/app/game.js')
