head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  script(src='/socket.io/socket.io.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
//h1.text-center Stratego AR
.logo.text-center
  img(src='/images/logo.png')
.main-setup-div
  #table-setup-div(style='display:none')
    #game-id-div.text-center
      #icons-share.text-center
    #grid-setup.container
      p This is the table game
      .row
        .tile-setup.col-xs-1-10(data-tile='30') 30
        .tile-setup.col-xs-1-10(data-tile='31') 31
        .tile-setup.col-xs-1-10(data-tile='32') 32
        .tile-setup.col-xs-1-10(data-tile='33') 33
        .tile-setup.col-xs-1-10(data-tile='34') 34
        .tile-setup.col-xs-1-10(data-tile='35') 35
        .tile-setup.col-xs-1-10(data-tile='36') 36
        .tile-setup.col-xs-1-10(data-tile='37') 37
        .tile-setup.col-xs-1-10(data-tile='38') 38
        .tile-setup.col-xs-1-10(data-tile='39') 39
      .row
        .tile-setup.col-xs-1-10(data-tile='20') 20
        .tile-setup.col-xs-1-10(data-tile='21') 21
        .tile-setup.col-xs-1-10(data-tile='22') 22
        .tile-setup.col-xs-1-10(data-tile='23') 23
        .tile-setup.col-xs-1-10(data-tile='24') 24
        .tile-setup.col-xs-1-10(data-tile='25') 25
        .tile-setup.col-xs-1-10(data-tile='26') 26
        .tile-setup.col-xs-1-10(data-tile='27') 27
        .tile-setup.col-xs-1-10(data-tile='28') 28
        .tile-setup.col-xs-1-10(data-tile='29') 29
      .row
        .tile-setup.col-xs-1-10(data-tile='10') 10
        .tile-setup.col-xs-1-10(data-tile='11') 11
        .tile-setup.col-xs-1-10(data-tile='12') 12
        .tile-setup.col-xs-1-10(data-tile='13') 13
        .tile-setup.col-xs-1-10(data-tile='14') 14
        .tile-setup.col-xs-1-10(data-tile='15') 15
        .tile-setup.col-xs-1-10(data-tile='16') 16
        .tile-setup.col-xs-1-10(data-tile='17') 17
        .tile-setup.col-xs-1-10(data-tile='18') 18
        .tile-setup.col-xs-1-10(data-tile='19') 19
      .row
        .tile-setup.col-xs-1-10(data-tile='0') 0
        .tile-setup.col-xs-1-10(data-tile='1') 1
        .tile-setup.col-xs-1-10(data-tile='2') 2
        .tile-setup.col-xs-1-10(data-tile='3') 3
        .tile-setup.col-xs-1-10(data-tile='4') 4
        .tile-setup.col-xs-1-10(data-tile='5') 5
        .tile-setup.col-xs-1-10(data-tile='6') 6
        .tile-setup.col-xs-1-10(data-tile='7') 7
        .tile-setup.col-xs-1-10(data-tile='8') 8
        .tile-setup.col-xs-1-10(data-tile='9') 9
    #chars.row.text-center
      p Select a piece and then a table tile to assign the position
      .col-md-12
        img.piece-setup(data-pid='0' src='/images/p0.png' alt='')
        img.piece-setup(data-pid='1' src='/images/p1.png' alt='')
        img.piece-setup(data-pid='2' src='/images/p2.png' alt='')
        img.piece-setup(data-pid='3' src='/images/p3.png' alt='')
        img.piece-setup(data-pid='4' src='/images/p4.png' alt='')
        img.piece-setup(data-pid='5' src='/images/p5.png' alt='')
        img.piece-setup(data-pid='6' src='/images/p6.png' alt='')
        img.piece-setup(data-pid='7' src='/images/p7.png' alt='')
        img.piece-setup(data-pid='8' src='/images/p8.png' alt='')
        img.piece-setup(data-pid='9' src='/images/p9.png' alt='')
        img.piece-setup(data-pid='10' src='/images/p10.png' alt='')
        img.piece-setup(data-pid='11' src='/images/p11.png' alt='')
        .text-center
          button#elementBtnDev.btn.btn-default(style='text-align:center;') Init
  // end table-setup-div
  #join-form-game-div.container.text-center
    form.form-inline(action='javascript:void(0);')
      .form-group
        div
      div
        .form-group
          label(for='elementPlayerName') Nickname
          input#elementPlayerName.form-control(value='Energy' placeholder='Ingresa tu nickname')
          button#elementBtnCreateGame.btn.btn-default(style="display: none;") Create Game
          button#elementBtnJoinGame.btn.btn-default(style="display: none;") Join Game
  #ready-game-div.text-center(style='display:none')
    button#elementBtnReadyGame.btn.btn-default(style='text-align:center;') Ready
    div.gui-info
script(src='/js/app/global.js')
script(src='/js/app/setup.js')
style.
  body{
  background-color: black;
  color: white;
  background-image:url("/images/bg-table-setup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  }
  a{
    color: white;
  }
  /*
  .main-setup-div{
  position:fixed;
  top: 0px;
  z-index: 1;
  }
  .main-ar-div{
  }
  */
  .logo{
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .btn-default{
  color: #fff;
  background-color: #000;
  border-color: #e8d25b;
  }
  .btn-default:hover, :active, :focus{
  color: #fff;
  background-color: #1a467b;
  border-color: #e8d25b;
  }
  .form-control{
  background-color: #000;
  background-image: none;
  border: 1px solid #e8d25b;
  color: #fff;
  }
  .piece-setup-mini{
  width:auto;
  height: 44px;
  border: solid 2px #92661a80;
  border-radius: 4px;
  cursor: pointer;
  }
  .piece-setup{
  width:70px;
  border: solid 3px #e8d25b8a;
  border-radius: 12px;
  cursor: pointer;
  }
  .piece-setup:hover, :active :focus{
  border: 3px solid #0b58bf99;
  }
  .tile-setup{
  border: 1px solid #fff09e7a;
  background-color: #040a1299;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  }
  .tile-setup:hover, :active, :focus{
  border: 1px solid #e8d25b;
  background-color: #0b58bf99;
  border-radius: 10px;
  }
  .col-xs-1-10,
  .col-sm-1-10 {
  position: relative;
  min-height: 50px;
  text-align: center;
  padding-top: 2px;
  }
  .col-xs-1-10 {
  width: 10%;
  float: left;
  }
  @media (min-width: 768px) {
  .col-sm-1-10 {
  width: 10%;
  float: left;
  }
  }
  @media (min-width: 992px) {
  .col-md-1-10 {
  width: 10%;
  float: left;
  }
  }
  @media (min-width: 1200px) {
  .col-lg-1-10 {
  width: 10%;
  float: left;
  }
  }
